
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'my_css.css' %}">
    <title>Holidays Finder</title>
</head>
<body>
<h1>Welcome to Holidays Finder</h1>
<p class="description"><strong>Select the day, month and year, then search to find the holiday.</strong></p>
{% if final_resp %}
<p class="final-resp"><strong>{{ final_resp }}</strong></p>
{% endif %}
    {% block sidebar %}
        <ul class="mi">
            <form method="POST">
            {% csrf_token %}
                <div class="form-group">
			<label for="day"><strong>Day:</strong></label>
                    {{ forms.Day }}
                </div>
                <div class="form-group">
                    <label for="month"><strong>Month:</strong></label>
                    {{ forms.Month }}
                </div>
                <div class="form-group">
                    <label for="year"><strong>Year:</strong></label>
                    {{ forms.Year }}
                </div>
                <div class="form-group">
                    <label for="country"><strong>Country:</strong></label>
                    {{ forms.Country }}
                </div>
                <button>Check it now!</button>
             </form>
	</ul>
    {% endblock %}
</body>
</html>
