<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css_file.css' %}">
    <title>Holidays Finder</title>
</head>
<body>
<h1>Welcome to Holidays Finder</h1>
    {% block sidebar %}
        <ul class="mi">
            <form method="POST">
            {% csrf_token %}
            {{ forms.as_p }}
                <button>Check it now!</button>
             </form>
          </ul>
    {% endblock %}
</body>
</html>
